APP_TIMEZONE="UTC"
APP_HTTP_PORT="3080"
APP_LOG_LEVEL="debug"
APP_PUBLIC_URL="http://localhost:3080"
APP_TRUSTED_PROXIES=""
APP_ALLOWED_ORIGINS=""
ADMIN_ALLOWED_CIDRS="0.0.0.0/0,::/0"

PSQL_HOST="localhost"
PSQL_PORT="5432"
PSQL_USER="postgres"
PSQL_PASSWORD="27012004"
PSQL_DBNAME="controlplane"
PSQL_SCHEMA="hypervisor"
PSQL_SSLMODE="disable"
PSQL_TLS_ENABLED="false"
PSQL_TLS_CA=""
PSQL_TLS_CERT=""
PSQL_TLS_KEY=""
PSQL_MAX_CONNS="20"
PSQL_MIN_CONNS="5"
PSQL_MAX_CONN_LIFE="30m"
PSQL_MAX_CONN_IDLE="5m"
PSQL_PING_TIMEOUT="5s"
PSQL_MAX_RETRIES="5"
PSQL_RETRY_INTERVAL="3s"

REDIS_ADDR="localhost:6379"
REDIS_PASSWORD="27012004"
REDIS_DB="0"
REDIS_TLS_ENABLED="false"
REDIS_TLS_CA=""
REDIS_TLS_CERT=""
REDIS_TLS_KEY=""
REDIS_DIAL_TIMEOUT="5s"
REDIS_READ_TIMEOUT="3s"
REDIS_WRITE_TIMEOUT="3s"
REDIS_POOL_SIZE="20"
REDIS_MIN_IDLE_CONNS="5"
REDIS_PING_TIMEOUT="5s"
REDIS_MAX_RETRIES="5"
REDIS_RETRY_INTERVAL="3s"

IAM_GRPC_TARGET="127.0.0.1:9090"
IAM_GRPC_TLS_CA=""
IAM_GRPC_TLS_CERT=""
IAM_GRPC_TLS_KEY=""
IAM_GRPC_TLS_SERVER_NAME=""
IAM_ADMIN_SESSION_REQUEST_TIMEOUT="3s"

GRPC_SERVER_ENABLED="true"
GRPC_SERVER_PORT="9443"
GRPC_SERVER_PUBLIC_ADDR="hypervisor.auroracloud.local:9443"
GRPC_SERVER_TLS_CERT=""
GRPC_SERVER_TLS_KEY=""
GRPC_SERVER_CLIENT_CA=""

AGENT_CA_CERT=""
AGENT_CA_KEY=""
AGENT_CERT_TTL="720h"
